body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #81f54b;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 50px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

.slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 800px;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.news {
    text-align: left;
    padding: 20px;
}

.news article {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    .slider {
        width: 100%;
    }
}
@media (max-width: 1200px){
    .header_item {
        font-size: 18px;
    }
    .container {
        padding:20px;
    }
}

@media (max-width:992){
    .header_item{
        font-size:16px;
    }
    .container{
        padding:15px;
    }

}

@media (max-width:768){
    .header_item{
        font-size:14px;
    }
    .container{
        padding:10px;
    }

}

@media (max-width:576px) {
    .header_item{
        font-size:12px;
    }
    .container{
        padding:5px;
    }
}